body {
    margin: 0;
    padding: 0;
    /*background: rgb(69, 87, 137);*/
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

    font-family: 'Helvetica';
}


.shipping-box {
    border-radius: 15px;
    background: rgb(57, 27, 255);
    width: 80vw;
    height: 500px;

    margin-top: 25px;

    display:grid;

    /*
    display:flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    */
}

.shipping-box header {
    border-radius: 15px;

    color: white;
    background: rgb(0, 0, 114);
    display: flex;
    height: 10vh;
    width: auto;
    padding:0;

    justify-content: center;
    align-items: center;
}

.shipping-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color:white;
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.a{
    grid-column: 1/1;
    grid-row: 1/2;
}
.b{
    grid-column: 2/2;
    grid-row: 1/1;
}